Repository matejlecnik/b9-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: docs-validation, typescript-check, eslint, console-check, python-format

docs-validation:
  run: python3 docs/scripts/validate-docs.py {staged_files}
  stage_fixed: true

typescript-check:
  run: cd dashboard && npx tsc --noEmit
  skip:
  - merge
  - rebase

eslint:
  run: cd dashboard && npx eslint {staged_files} --fix --max-warnings 0
  stage_fixed: true

console-check:
  run: "if grep -n 'console\\.' {staged_files}; then\n  echo \"‚ùå Console statements detected. Remove them or add to exceptions.\"\n  exit 1\nfi\n"

python-format:
  run: black --check {staged_files}
  stage_fixed: true

🔧 FIX: R2 Storage Always-On + Supabase Logging Integration
  api-render/app/core/config/r2_config.py
  api-render/app/scrapers/instagram/services/instagram_scraper.py
  api-render/app/utils/media_storage.py
Due: python-format

🐛 FIX: Logger schema mismatch - Move action to context field
  api-render/app/logging/formatters.py
Due: python-format

🔧 FIX: Add FFmpeg to Dockerfile for R2 video compression
  Dockerfile
Due: none

🐛 FIX: Instagram scraper thread hanging & database save issues
  api-render/app/scrapers/instagram/services/instagram_scraper.py
  api-render/app/utils/media_storage.py
Due: python-format

🚀 FEAT: Hetzner CPX31 Optimization - Multi-Worker Architecture
  Dockerfile
  backend/app/config.py
  backend/app/core/router_loader.py
  backend/docs/HETZNER_OPTIMIZATION.md
  backend/main.py
  backend/production_server.py
  backend/requirements.txt
  backend/start.py
Due: docs-validation, python-format

🧹 FEAT: CRON-001 Complete + Dashboard Updates (Recovery from git corruption)
  CLAUDE.md
  ROADMAP.md
  backend/docs/CRON_SETUP.md
  backend/render.yaml
  docs/development/SESSION_LOG.md
Due: docs-validation

feat(reddit): Optimize scraper - top weekly only, 10 posts/user, retry logic
  backend/app/scrapers/reddit/reddit_scraper.py
  backend/app/version.py
Due: python-format

🚀 FEAT: Reddit Scraper v3.8.0 - Staggered Parallel Optimization (3-4x Speedup)
  backend/app/api/reddit/scraper.py
  backend/app/scrapers/reddit/reddit_scraper.py
  backend/app/version.py
Due: python-format

🚀 FIX: Reddit Scraper v3.8.1 - User feeds instant save (no processing)
  backend/app/scrapers/reddit/reddit_scraper.py
  backend/app/version.py
Due: python-format

🚀 FIX: Reddit Scraper v3.8.2 - Cleaner logs + retry logic
  backend/app/scrapers/reddit/reddit_scraper.py
  backend/app/version.py
Due: python-format

feat: Reddit Scraper v3.9.0 - Concurrent Processing (70-80% speedup)
  backend/app/scrapers/reddit/reddit_scraper.py
  backend/app/version.py
Due: python-format

🚀 FEAT: v3.10.0 - Cache-First Filtering + Batched Discovery (90-200s faster)
  backend/app/scrapers/reddit/reddit_scraper.py
  backend/app/version.py
Due: python-format

🐛 FIX: Reddit success rate calculation - count actual API requests only
  backend/app/api/reddit/scraper.py
Due: python-format

🐛 FIX: Improve Reddit success rate pattern matching
  backend/app/api/reddit/scraper.py
Due: python-format

🐛 FIX: Reddit success rate - use current run logs only
  backend/app/api/reddit/scraper.py
Due: python-format

🐛 FIX: Require [X/Y] format for user post counting
  backend/app/api/reddit/scraper.py
Due: python-format

🐛 FIX: Badge Rendering Bug - Hybrid Badge System
  dashboard/src/components/shared/tables/configs/redditCategorizationColumns.tsx
  dashboard/src/components/shared/tables/configs/redditReviewColumns.tsx
  dashboard/src/components/shared/tables/fields/BadgesField.tsx
  dashboard/src/components/shared/tables/fields/TextField.tsx
  dashboard/src/components/shared/tables/fields/index.ts
  dashboard/src/components/shared/tables/types.ts
  docs/development/SESSION_LOG.md
Due: docs-validation, typescript-check, eslint, console-check

⚡ PERF: Reddit scraper success rate - Database filtering (10-20x faster)
  backend/app/api/reddit/scraper.py
Due: python-format

🔄 FEAT: Reddit scraper auto-cycling v3.11.0
  backend/app/scrapers/reddit/reddit_scraper.py
  backend/app/version.py
Due: python-format

🔧 FIX: R2 domain checks now support both old and new URLs (v3.12.1)
  backend/app/scrapers/instagram/services/instagram_scraper.py
  backend/app/scrapers/instagram/services/modules/storage.py
  backend/app/version.py
Due: python-format

🔧 FIX: Backend linting issues (Ruff + Black)
  backend/app/api/instagram/creators.py
  backend/app/config.py
  backend/app/scrapers/instagram/services/instagram_config.py
  backend/app/version.py
  backend/scripts/verify_database.py
Due: python-format

🧹 REFACTOR: Post-viral content cleanup + TypeScript fixes (v3.12.3)
  CLAUDE.md
  ROADMAP.md
  dashboard/src/app/globals 2.css
  dashboard/src/app/instagram/creator-review/page.tsx
  dashboard/src/app/instagram/niching/page.tsx
  dashboard/src/app/reddit/categorization/page.tsx
  dashboard/src/app/reddit/subreddit-review/page.tsx
  dashboard/src/components/shared/tables/fields/DateField.tsx
  dashboard/src/components/shared/tables/fields/PercentageField.tsx
  dashboard/src/components/shared/tables/fields/TextField.tsx
  dashboard/src/components/shared/tables/types.ts
  dashboard/src/hooks/queries/useInstagramReview.ts
  dashboard/src/hooks/queries/useViralPosts.ts
  dashboard/src/lib/queryKeys.ts
  docs/INDEX.md
  docs/data/code-quality.json
  docs/data/design-system-check.json
  docs/data/metrics.json
  docs/data/search-index.json
  docs/database/SUPABASE_FUNCTIONS.md
  docs/database/SUPABASE_QUERIES.md
  docs/database/SUPABASE_SCHEMA.md
  docs/development/SESSION_LOG.md
  docs/development/SYSTEM_IMPROVEMENT_PLAN.md
  docs/development/VISION_2026.md
  docs/frontend/UNIVERSAL_TABLE_V2_MIGRATION.md
  docs/frontend/templates/COMPONENT_CATALOG.md
  docs/frontend/templates/PAGE_PATTERNS.md
  docs/frontend/templates/SIDEBAR_CONFIGURATION.md
Due: docs-validation, typescript-check, eslint, console-check

🔧 FIX: ESLint & TypeScript compliance + Cleanup (v3.12.4)
  .gitignore
  CLAUDE.md
  dashboard/src/app/instagram/creator-review/page.tsx
  dashboard/src/app/instagram/niching/page.tsx
  dashboard/src/app/reddit/categorization/page.tsx
  dashboard/src/app/reddit/subreddit-review/page.tsx
  docs/data/code-quality.json
  docs/data/design-system-check.json
  docs/development/SESSION_LOG.md
  lefthook.yml
Due: docs-validation, typescript-check, eslint, console-check

📝 DOCS: Update SESSION_LOG.md (post-commit hook)
  docs/development/SESSION_LOG.md
Due: docs-validation

📝 DOCS: Final session log update + cleanup
  dashboard/.env.local.example
  docs/development/SESSION_LOG.md
Due: docs-validation

🔧 FIX: All ESLint errors for Vercel deployment
  dashboard/src/app/instagram/creator-review/page.tsx
  dashboard/src/app/instagram/niching/page.tsx
  dashboard/src/app/models/page.tsx
  dashboard/src/app/reddit/categorization/page.tsx
  dashboard/src/app/reddit/subreddit-review/page.tsx
  dashboard/src/components/features/AddUserModal.tsx
  dashboard/src/components/features/ModelForm.tsx
  dashboard/src/components/shared/StandardPostCard.tsx
  dashboard/src/components/shared/TagFilterDropdown.tsx
  dashboard/src/components/shared/layouts/sidebar-configs.tsx
  dashboard/src/components/shared/modals/UniversalInputModal.tsx
  dashboard/src/components/shared/tables/configs/instagramNichingColumns.tsx
  dashboard/src/components/shared/tables/configs/instagramReviewColumns.tsx
  dashboard/src/components/shared/tables/fields/AvatarField.tsx
  dashboard/src/components/shared/tables/fields/BadgeField.tsx
  dashboard/src/components/shared/tables/types.ts
  dashboard/src/hooks/queries/useViralPosts.ts
  docs/data/metrics.json
  docs/development/SESSION_LOG.md
Due: docs-validation, typescript-check, eslint, console-check

📝 DOCS: Update SESSION_LOG after ESLint fixes
  dashboard/package-lock.json
  docs/development/SESSION_LOG.md
Due: docs-validation

🔧 FIX: Optimize lefthook config - remove hanging hooks
  lefthook.yml
Due: none

🔧 FIX: Update Vercel API URL to Hetzner endpoint
  dashboard/config/deploy/vercel.json
  docs/development/SESSION_LOG.md
Due: docs-validation

🐛 FIX: Reddit scraper infinite loop - Phase 3 indentation (v3.11.1)
  backend/app/scrapers/reddit/reddit_scraper.py
  backend/app/version.py
Due: python-format

🐛 FIX: Add missing retry_backoff_multiplier to Instagram config (v3.12.4)
  backend/app/config.py
  backend/app/version.py
Due: python-format

📝 DOCS: Hetzner migration updates + version bumps (v3.12.4)
  HETZNER_MIGRATION_READY.md
  ROADMAP.md
  backend/debug_r2.py
  backend/test_local.py
  backend/test_r2_full_scraper.py
  backend/test_r2_setup.py
  docs/backend/API.md
  docs/backend/BACKEND_IMPROVEMENT_PLAN.md
  docs/backend/R2_STORAGE_SETUP.md
  docs/backend/archive/RENDER_API_DEPLOYMENT.md
  docs/database/BACKGROUND_JOBS.md
  docs/database/CRON_SETUP.md
  docs/frontend/DESIGN_SYSTEM_PHASE3_REPORT.md
  docs/frontend/STANDARDIZATION_PLAN.md
Due: docs-validation, python-format

🧹 REFACTOR: Backend cleanup complete - organized structure & documentation (v4.0.1)
  backend/docs/docs/validation-report.json
  backend/docs/validation-report.json
  backend/fix_force_stop.py
  backend/scripts/migrate_print_to_logger.py
  backend/tests/api/__init__.py
  backend/tests/api/reddit/__init__.py
  backend/tests/core/__init__.py
  backend/tests/scrapers/instagram/test_integrated_scraper.py
  backend/tests/scrapers/instagram/test_modular_integration.py
  backend/tests/scrapers/instagram/test_reels_api.py
  backend/tests/services/__init__.py
  backend/tests/utils/__init__.py
  docs/backend/api/api-documentation.md
  docs/backend/api/external-control-guide.md
  docs/backend/architecture/configuration-system.md
  docs/backend/architecture/instagram-scraper-architecture.md
  docs/backend/archives/2025-10/BUG_REPORT_2025-10-09_WORKER_CRASH.md
  docs/backend/archives/2025-10/FIXES_APPLIED_2025-10-09.md
  docs/backend/archives/2025-10/TESTING_COMPLETE_2025-10-09.md
  docs/backend/archives/2025-10/TEST_RESULTS_2025-10-09.md
  docs/backend/deployment/cron-setup.md
  docs/backend/deployment/hetzner-deployment.md
  docs/backend/deployment/hetzner-optimization.md
  docs/backend/refactoring/PHASE_2_3_SESSION_SUMMARY.md
  docs/backend/refactoring/PHASE_3_FILE_REFACTORING_PLAN.md
  docs/backend/refactoring/PHASE_3_INTEGRATION_COMPLETE.md
  docs/backend/refactoring/PHASE_3_STORAGE_COMPLETION.md
  docs/backend/refactoring/QUICK_START_GUIDE.md
  docs/backend/refactoring/SESSION_FINAL_REPORT.md
  docs/backend/refactoring/modular-integration-success.md
  docs/backend/testing/api-test-plan.md
  docs/backend/testing/api-testing-execution-plan.md
  docs/backend/testing/api-testing-quick-start.sh
  docs/backend/testing/testing-summary.md
  docs/development/SESSION_LOG.md
Due: docs-validation, python-format

🧹 CLEANUP: Remove duplicate legacy API routes
  dashboard/src/app/api/categories/[id]/route.ts
  dashboard/src/app/api/categories/bulk/route.ts
  dashboard/src/app/api/categories/merge/route.ts
  dashboard/src/app/api/categories/rename/route.ts
  dashboard/src/app/api/categories/route.ts
  dashboard/src/app/api/categorization/tags/start/route.ts
  dashboard/src/app/api/filters/learning/route.ts
  dashboard/src/app/api/filters/refilter/route.ts
  dashboard/src/app/api/filters/route.ts
  dashboard/src/app/api/filters/stats/route.ts
  dashboard/src/app/api/filters/whitelist/route.ts
  dashboard/src/app/api/scraper/accounts/route.ts
  dashboard/src/app/api/scraper/errors/route.ts
  dashboard/src/app/api/scraper/start/route.ts
  dashboard/src/app/api/scraper/status/route.ts
  dashboard/src/app/api/scraper/stop/route.ts
  dashboard/src/app/api/subreddits/[id]/route.ts
  dashboard/src/app/api/subreddits/bulk-review/route.ts
  dashboard/src/app/api/subreddits/route.ts
  dashboard/src/app/api/subreddits/stats/route.ts
  dashboard/src/app/api/users/bulk-update/route.ts
  dashboard/src/app/api/users/search/route.ts
  dashboard/src/app/api/users/toggle-creator/route.ts
Due: typescript-check, eslint, console-check

📚 DOCS: Consolidate dashboard documentation
  dashboard/src/lib/api-security-migration.md
  docs/dashboard/INDEX.md
  docs/dashboard/api/api-reference.md
  docs/dashboard/architecture/configuration.md
  docs/dashboard/architecture/providers.md
  docs/dashboard/architecture/type-system.md
  docs/dashboard/components/tables.md
  docs/dashboard/pages/dashboards.md
  docs/dashboard/pages/instagram/creator-review.md
  docs/dashboard/pages/instagram/niching.md
  docs/dashboard/pages/models/model-onboarding.md
  docs/dashboard/pages/models/model-profile.md
  docs/dashboard/pages/monitoring/instagram-monitor.md
  docs/dashboard/pages/monitoring/reddit-monitor.md
  docs/dashboard/pages/reddit/post-analysis.md
  docs/dashboard/pages/reddit/posting.md
  docs/dashboard/pages/reddit/subreddit-review.md
  docs/dashboard/pages/reddit/user-analysis.md
  docs/dashboard/platforms/instagram.md
  docs/dashboard/platforms/reddit.md
Due: docs-validation

🧹 CLEANUP: Remove 6 unused library files (Phase 3)
  dashboard/src/lib/accessibility.ts
  dashboard/src/lib/animation-variants.ts
  dashboard/src/lib/bundle-optimization.ts
  dashboard/src/lib/categories.ts
  dashboard/src/lib/database-performance.ts
  dashboard/src/lib/lru-cache.ts
Due: typescript-check, eslint, console-check

♻️ REFACTOR: Component architecture cleanup (Phase 5)
  backend/.env.example
  dashboard/next.config.ts
  dashboard/package-lock.json
  dashboard/src/app/README.md
  dashboard/src/app/instagram/niching/page.tsx
  dashboard/src/app/models/[id]/edit/page.tsx
  dashboard/src/app/models/page.tsx
  dashboard/src/app/monitor/instagram/page.tsx
  dashboard/src/app/monitor/reddit/page.tsx
  dashboard/src/app/reddit/categorization/page.tsx
  dashboard/src/app/reddit/user-analysis/page.tsx
  dashboard/src/components/README.md
  dashboard/src/components/common/index.ts
  dashboard/src/components/common/modals/index.ts
  dashboard/src/components/common/tables/index.ts
  dashboard/src/components/features/ai/index.ts
  dashboard/src/components/features/index.ts
  dashboard/src/components/features/monitoring/index.ts
  dashboard/src/components/instagram/index.ts
  dashboard/src/components/layouts/index.ts
  dashboard/src/components/shared/buttons/index.ts
  dashboard/src/components/shared/cards/index.ts
  dashboard/src/components/shared/filters/index.ts
  dashboard/src/components/shared/index.ts
  dashboard/src/components/shared/layouts/index.ts
  dashboard/src/components/shared/modals/index.ts
  dashboard/src/components/shared/tables/UniversalTableV2.tsx
  dashboard/src/components/shared/tables/fields/index.ts
  dashboard/src/components/shared/tables/index.ts
  dashboard/src/components/shared/toolbars/index.ts
  dashboard/src/hooks/README.md
  dashboard/src/lib/README.md
Due: docs-validation, typescript-check, eslint, console-check

Path conditions:
  docs-validation: any of: *.md
  typescript-check: any of: *.{ts,tsx}
  eslint: any of: *.{ts,tsx,js,jsx}
  console-check: any of: *.{ts,tsx,js,jsx}, but not: .*\.test\.(ts|tsx|js|jsx)$
  python-format: any of: *.py
