Repository matejlecnik/b9-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: docs-validation, typescript-check, eslint, console-check, python-format

docs-validation:
  run: python3 docs/scripts/validate-docs.py {staged_files}
  stage_fixed: true

typescript-check:
  run: cd dashboard && npx tsc --noEmit
  skip:
  - merge
  - rebase

eslint:
  run: cd dashboard && npx eslint {staged_files} --fix --max-warnings 0
  stage_fixed: true

console-check:
  run: "if grep -n 'console\\.' {staged_files}; then\n  echo \"‚ùå Console statements detected. Remove them or add to exceptions.\"\n  exit 1\nfi\n"

python-format:
  run: black --check {staged_files}
  stage_fixed: true

🔧 BUMP: Reddit scraper version 3.5.0 → 3.6.1
  api-render/app/scrapers/reddit/reddit_scraper.py
Due: python-format

📘 DOCS: Update DOCUMENTATION_STANDARDS v2.0.0 → v2.1.0
  docs/development/DOCUMENTATION_STANDARDS.md
Due: docs-validation

📊 UPDATE: ROADMAP & SESSION_LOG - Phase 1 & 3 Complete
  ROADMAP.md
  docs/development/SESSION_LOG.md
Due: docs-validation

🔧 FIX: Lefthook docs-compliance check
  lefthook.yml
Due: none

📊 UPDATE: CLAUDE.md & ROADMAP.md - Final Status Sync
  CLAUDE.md
  ROADMAP.md
Due: docs-validation

🗑️ REFACTOR: Phase 2 - Remove 19 Duplicate Components
  dashboard/DEDUPLICATION_MAP.md
  dashboard/src/app/monitor/instagram/page.tsx
  dashboard/src/app/monitor/reddit/page.tsx
  dashboard/src/app/reddit/categorization/page.tsx
  dashboard/src/app/reddit/subreddit-review/page.tsx
  dashboard/src/components/common/MetricsCards.tsx
  dashboard/src/components/common/PostAnalysisToolbar.tsx
  dashboard/src/components/common/modals/AddUserModal.tsx
  dashboard/src/components/common/tables/DiscoveryTable.tsx
  dashboard/src/components/common/tables/UniversalTable.tsx
  dashboard/src/components/features/AICategorizationModal.tsx
  dashboard/src/components/features/AddSubredditModal.tsx
  dashboard/src/components/features/ApiActivityLog.tsx
  dashboard/src/components/features/DatabasePerformancePanel.tsx
  dashboard/src/components/features/JobQueueDashboard.tsx
  dashboard/src/components/features/LogViewerSupabase.tsx
  dashboard/src/components/features/ai/AICategorizationModal.tsx
  dashboard/src/components/features/ai/CategoryFilterDropdown.tsx
  dashboard/src/components/features/ai/CategoryFilterPills.tsx
  dashboard/src/components/features/ai/CategorySelector.tsx
  dashboard/src/components/instagram/RelatedCreatorsModal.tsx
  dashboard/src/components/layouts/DashboardLayout.tsx
  dashboard/src/components/layouts/Header.tsx
  dashboard/src/components/layouts/ModelsDashboardLayout.tsx
  dashboard/src/components/layouts/Sidebar.tsx
  dashboard/src/components/layouts/SidebarTemplate.tsx
  dashboard/src/components/shared/CategoryFilterDropdown.tsx
  dashboard/src/components/shared/CategoryFilterPills.tsx
  dashboard/src/components/shared/CategorySelector.tsx
  dashboard/src/components/shared/UnifiedFilters.tsx
  dashboard/src/components/shared/UniversalTable.tsx
  dashboard/src/components/shared/UserSearchAndFilters.tsx
  dashboard/src/components/shared/VirtualizedPostGrid.tsx
  dashboard/src/components/standard/PageContainer.tsx
  dashboard/src/components/standard/StandardModal.tsx
  dashboard/src/components/standard/StandardToolbar.tsx
Due: docs-validation, typescript-check, eslint, console-check

📦 REFACTOR: Phase 2 - Add Barrel Exports
  ROADMAP.md
  dashboard/src/components/common/index.ts
  dashboard/src/components/features/index.ts
  dashboard/src/components/layouts/index.ts
Due: docs-validation, typescript-check, eslint, console-check

✅ COMPLETE: Phase 2 v3.7.0 - Code Quality & Structure (100%)
  ROADMAP.md
  dashboard/src/components/common/modals/index.ts
  dashboard/src/components/common/tables/index.ts
  dashboard/src/components/features/ai/index.ts
  dashboard/src/components/features/monitoring/index.ts
  dashboard/src/components/shared/buttons/index.ts
  dashboard/src/components/shared/cards/index.ts
  dashboard/src/components/shared/filters/index.ts
  dashboard/src/components/shared/layouts/index.ts
  dashboard/src/components/shared/modals/index.ts
  dashboard/src/components/shared/tables/index.ts
  dashboard/src/components/shared/toolbars/index.ts
  dashboard/src/components/templates/hooks/index.ts
  dashboard/src/components/ui/date-range-picker.tsx
Due: docs-validation, typescript-check, eslint, console-check

🔧 FIX: Reddit Scraper v3.6.2 - Critical review field preservation bug
  CLAUDE.md
  api-render/app/scrapers/reddit/README.md
  api-render/app/scrapers/reddit/reddit_scraper.py
  dashboard/DEDUPLICATION_MAP.md
  docs/development/SESSION_LOG.md
  docs/validation-report.json
Due: docs-validation, python-format

📦 REFACTOR: Phase 2 v3.7.0 - Barrel Export Removal (Partial) + Config Fixes
  dashboard/docs/STANDARDIZATION_PLAN.md
  dashboard/next.config.ts
  dashboard/package-lock.json
  dashboard/postcss.config.mjs
  dashboard/src/app/dashboards/page.tsx
  dashboard/src/app/instagram/analytics/page.tsx
  dashboard/src/app/models/page.tsx
  dashboard/src/app/reddit/categorization/page.tsx
  dashboard/src/app/reddit/posting/page.tsx
  dashboard/src/app/reddit/subreddit-review/page.tsx
  dashboard/src/app/reddit/user-analysis/page.tsx
  dashboard/src/app/tracking/page.tsx
  dashboard/src/components/index.ts
  dashboard/src/components/standard/EmptyState.tsx
  dashboard/src/components/standard/StandardPlaceholder.tsx
  dashboard/src/components/standard/StandardTable.tsx
  dashboard/src/components/ui/index.ts
  dashboard/src/hooks/index.ts
  dashboard/src/lib/index.ts
  dashboard/src/middleware.ts
  dashboard/tsconfig.json
Due: docs-validation, typescript-check, eslint, console-check

🐛 FIX: Reddit Scraper v3.6.3 - Hung scraper timeout + watchdog
  api-render/app/scrapers/reddit/reddit_controller.py
  api-render/app/scrapers/reddit/reddit_scraper.py
Due: python-format

🔥 REFACTOR: Phase 1 v3.7.0 - Critical Fixes (Dead Code + Security)
  api-render/app/api/instagram/related_creators.py
  api-render/app/api/instagram/scraper.py
  api-render/app/api/reddit/scraper.py
  api-render/app/core/config/scraper_config.py
  api-render/app/core/database/batch_writer.py
  api-render/app/core/exceptions.py
  api-render/app/routes/__init__.py
  api-render/app/scrapers/reddit/reddit_scraper.py
  api-render/app/version.py
  api-render/docs/API_RENDER_IMPROVEMENT_PLAN.md
  api-render/main.py
  api-render/start.py
Due: docs-validation, python-format

📄 DOCS: Update documentation for Phase 1 v3.7.0 completion
  CLAUDE.md
  api-render/README.md
  docs/development/SESSION_LOG.md
Due: docs-validation

🐛 FIX: Critical scraper path bugs + timezone import
  api-render/app/api/instagram/scraper.py
  api-render/app/api/reddit/scraper.py
Due: python-format

🐛 FIX: Remove legacy SupabaseLogHandler from Reddit scraper
  api-render/app/scrapers/reddit/reddit_scraper.py
Due: python-format

🐛 FIX: Instagram controller import paths
  api-render/app/scrapers/instagram/instagram_controller.py
Due: python-format

🐛 FIX: Add PYTHONPATH to scraper subprocesses
  api-render/app/api/instagram/scraper.py
  api-render/app/api/reddit/scraper.py
Due: python-format

🐛 FIX: Reddit scraper logging to Supabase
  api-render/app/scrapers/reddit/reddit_scraper.py
Due: python-format

🐛 FIX: Reddit scraper Supabase logging - pass client to logger
  api-render/app/scrapers/reddit/reddit_scraper.py
Due: python-format

🐛 FIX: Supabase logging table name (logs → system_logs)
  api-render/app/logging/config.py
Due: python-format

🐛 FIX: Supabase logging batch size (10 → 1 for immediate flush)
  api-render/app/logging/config.py
Due: python-format

🐛 FIX: Handle null user in Instagram Related Creators API response
  api-render/app/api/instagram/related_creators.py
  docs/archive/2025-10-02_DOCUMENTATION_METRICS.md
  docs/archive/2025-10-04_INSTAGRAM_DASHBOARD_ANALYSIS.md
  docs/archive/2025-10-04_REDDIT_DASHBOARD_STATUS.md
  docs/backend/API.md
  docs/backend/API_RENDER_IMPROVEMENT_PLAN.md
  docs/backend/ARCHITECTURE.md
  docs/backend/DEPLOYMENT.md
  docs/backend/MONITORING.md
  docs/backend/PERFORMANCE.md
  docs/backend/PHASE_1_FIXES_TODO.md
  docs/backend/PHASE_2B_REFACTORING.md
  docs/backend/README.md
  docs/backend/archive/PHASE_1_ASYNC_OPTIMIZATION.md
  docs/backend/logging.md
  docs/frontend/API_INTEGRATION_GUIDE.md
  docs/frontend/COMPONENT_GUIDE.md
  docs/frontend/DOCUMENTATION_MAP.md
  docs/frontend/STANDARDIZATION_PLAN.md
  docs/frontend/TESTING_GUIDE.md
  docs/frontend/deployment/CHECKLIST.md
  docs/frontend/development/ERROR_FIX_LOG.md
  docs/frontend/development/REACT_QUERY_GUIDE.md
  docs/frontend/development/REACT_QUERY_QUICK_REFERENCE.md
  docs/frontend/development/TASKS.md
  docs/frontend/templates/COMPONENT_CATALOG.md
  docs/frontend/templates/DASHBOARD_TEMPLATE.md
  docs/frontend/templates/DATA_FLOW_PATTERNS.md
  docs/frontend/templates/PAGE_PATTERNS.md
  docs/frontend/templates/SIDEBAR_CONFIGURATION.md
Due: docs-validation, python-format

📝 DOCS: Update CLAUDE.md with Instagram Related Creators fixes
  CLAUDE.md
Due: docs-validation

🐛 FIX: Add fna.fbcdn.net to allowed image hosts for Instagram CDN
  dashboard/src/lib/image-utils.ts
Due: typescript-check, eslint, console-check

🐛 FIX: Resolve 35 ESLint errors for Vercel deployment
  dashboard/src/app/api/categories/merge/route.ts
  dashboard/src/app/api/categories/rename/route.ts
  dashboard/src/app/api/reddit/user/route.ts
  dashboard/src/app/api/scraper/start/route.ts
  dashboard/src/app/api/scraper/status/route.ts
  dashboard/src/app/api/subreddits/[id]/route.ts
  dashboard/src/app/api/subreddits/route.ts
  dashboard/src/app/api/subreddits/stats/route.ts
  dashboard/src/app/instagram/creator-review/page.tsx
  dashboard/src/app/instagram/niching/page.tsx
  dashboard/src/app/reddit/user-analysis/page.tsx
  dashboard/src/components/layouts/ModelsSidebar.tsx
  dashboard/src/components/shared/tables/VirtualizedCreatorTable.tsx
  dashboard/src/components/standard/IconLibrary.tsx
  dashboard/src/components/standard/SearchBar.tsx
  dashboard/src/components/standard/StandardPlaceholder.tsx
  dashboard/src/components/standard/StandardTable.tsx
  dashboard/src/components/templates/DashboardTemplate.tsx
  dashboard/src/components/templates/ReviewPageTemplate.tsx
  dashboard/src/components/templates/hooks/useTemplateData.ts
  dashboard/src/config/navigation.ts
  dashboard/src/hooks/queries/base.ts
  dashboard/src/lib/api-versioning.ts
  dashboard/src/lib/performance-monitor.tsx
Due: typescript-check, eslint, console-check

✨ FEAT: Instagram creator manual addition endpoint (INST-411)
  CLAUDE.md
  ROADMAP.md
  api-render/app/api/instagram/creators.py
  api-render/main.py
  dashboard/src/components/instagram/AddCreatorModal.tsx
  docs/backend/API.md
  docs/development/SESSION_LOG.md
Due: docs-validation, typescript-check, eslint, console-check, python-format

🐛 FIX: Handle NoneType error in Instagram creator addition (INST-411 hotfix)
  api-render/app/api/instagram/creators.py
Due: python-format

🐛 FIX: Database errors - category_text column migration (DB-001)
  CLAUDE.md
  api-render/migrations/20251006_fix_category_text_references.sql
  dashboard/src/app/api/admin/update-mirror-fields/route.ts
  dashboard/src/components/layouts/InstagramMonitorSidebar.tsx
  dashboard/src/components/layouts/InstagramSidebar.tsx
  dashboard/src/components/layouts/ModelsDashboardLayout.tsx
  dashboard/src/components/layouts/ModelsSidebar.tsx
  dashboard/src/components/layouts/RedditMonitorSidebar.tsx
  dashboard/src/components/layouts/Sidebar.tsx
  dashboard/src/components/standard/PageContainer.tsx
Due: docs-validation, typescript-check, eslint, console-check

🗃️ FIX: Apply category_text database migration (DB-001 complete)
  CLAUDE.md
  api-render/migrations/20251006_fix_category_text_references.sql
Due: docs-validation

🧹 CLEANUP: Remove redundant files and add new components
  CLAUDE.md
  dashboard/src/components/AutoTheme.tsx
  dashboard/src/components/features/monitoring/CombinedActivityLog.tsx
  dashboard/src/components/features/monitoring/LogTerminalBase.tsx
  dashboard/src/components/shared/icons/DashboardIcons.tsx
  dashboard/src/providers/ThemeProvider.tsx
  docs/backend/INSTAGRAM_AI_TAGGING.md
Due: docs-validation, typescript-check, eslint, console-check

🚀 FEAT: R2 Storage Activation + CDN Migration System
  api-render/app/api/cron.py
  api-render/app/api/instagram/related_creators.py
  api-render/app/jobs/cdn_to_r2_migration.py
  api-render/app/utils/media_storage.py
  api-render/docs/R2_STORAGE_SETUP.md
Due: docs-validation, python-format

🐛 FIX: R2 auto-migration - Remove broken CDN tracking logic
  api-render/app/scrapers/instagram/services/instagram_scraper.py
  api-render/debug_r2.py
Due: python-format

🐛 FIX: Instagram reels timeout - Increase REQUEST_TIMEOUT from 10s to 30s
  api-render/app/scrapers/instagram/services/instagram_config.py
  api-render/app/scrapers/instagram/services/instagram_scraper.py
  api-render/app/scrapers/instagram/services/test_reels_api.py
Due: python-format

Path conditions:
  docs-validation: any of: *.md
  typescript-check: any of: *.{ts,tsx}
  eslint: any of: *.{ts,tsx,js,jsx}
  console-check: any of: *.{ts,tsx,js,jsx}, but not: .*\.test\.(ts|tsx|js|jsx)$
  python-format: any of: *.py
