Repository matejlecnik/b9-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: typescript-check, eslint, console-check, python-format, python-lint, secrets-check

Path conditions:
  typescript-check: any of: dashboard/**/*.{ts,tsx}
  eslint: any of: dashboard/**/*.{ts,tsx,js,jsx}
  console-check: any of: dashboard/**/*.{ts,tsx,js,jsx}, but not: .*\.test\.(ts|tsx|js|jsx)$
  python-format: any of: *.py
  python-lint: any of: *.py
  secrets-check: any of: *, but not: .*\.(md|json|lock)$

🗑️ CLEANUP: Remove dead code - 12 unused files (Phase 6)
  dashboard/src/hooks/queries/useAnalytics.ts
  dashboard/src/hooks/queries/useOfflineSync.ts
  dashboard/src/hooks/queries/useRealtime.ts
  dashboard/src/hooks/useCategories.ts
  dashboard/src/hooks/usePostingAnalysis.ts
  dashboard/src/hooks/usePostingData.ts
  dashboard/src/hooks/useWebWorker.ts
  dashboard/src/lib/cdn-config.ts
  dashboard/src/lib/image-optimization.ts
  dashboard/src/lib/openai.ts
  dashboard/src/lib/toolbarStyles.ts
  dashboard/src/lib/validations.ts
Due: typescript-check, eslint, console-check, secrets-check

✨ IMPROVE: Phase 7 - Type Safety (Generic Defaults & API Routes)
  backend/app/api/instagram/creators.py
  dashboard/src/app/api/reddit/user/route.ts
  dashboard/src/app/instagram/creator-review/page.tsx
  dashboard/src/app/instagram/niching/page.tsx
  dashboard/src/components/shared/tables/UniversalTableV2.tsx
  dashboard/src/components/shared/tables/types.ts
Due: typescript-check, eslint, console-check, python-format, python-lint, secrets-check

⚡ PERF: Phase 8 - Optimize niching page bundle size
  dashboard/src/app/instagram/niching/page.tsx
Due: typescript-check, eslint, console-check, secrets-check

🧹 CLEANUP: Remove viral content & sanitize API references
  dashboard/src/app/actions/scraper.ts
  dashboard/src/app/api/ai/bulk-categorize/route.ts
  dashboard/src/app/api/ai/categorize-batch/route.ts
  dashboard/src/app/api/ai/categorize/route.ts
  dashboard/src/app/api/instagram/scraper/start/route.ts
  dashboard/src/app/api/instagram/scraper/stop/route.ts
  dashboard/src/app/api/reddit/categorization/tags/start/route.ts
  dashboard/src/app/api/reddit/subreddits/add/route.ts
  dashboard/src/app/api/reddit/subreddits/route.ts
  dashboard/src/app/monitor/instagram/page.tsx
  dashboard/src/app/monitor/reddit/page.tsx
  dashboard/src/components/instagram/AddCreatorModal.tsx
  dashboard/src/components/shared/layouts/sidebar-configs.tsx
  dashboard/src/hooks/queries/useRedditCategorization.ts
Due: typescript-check, eslint, console-check, secrets-check

🐛 FIX: Template string interpolation for border radius (~34 instances)
  dashboard/src/components/common/PostAnalysisToolbar.tsx
  dashboard/src/components/instagram/RelatedCreatorsModal.tsx
  dashboard/src/components/shared/SkeletonLoaders.tsx
  dashboard/src/components/shared/UniversalLoading.tsx
Due: typescript-check, eslint, console-check, secrets-check

🐛 FIX: RelatedCreatorsModal template literals & text visibility
  dashboard/src/components/instagram/RelatedCreatorsModal.tsx
Due: typescript-check, eslint, console-check, secrets-check

🔧 Add Cloudflare Tunnel setup for Vercel-Hetzner HTTPS connectivity
  CLOUDFLARE_TUNNEL_SETUP.md
  QUICK_START.md
  setup-cloudflare-tunnel.sh
Due: secrets-check

🔧 Add media.b9-dashboard.com to allowed image domains for Instagram
  dashboard/next.config.ts
Due: secrets-check

🐛 FIX: Instagram scraper metrics & reels fetching
  backend/app/scrapers/instagram/services/instagram_scraper.py
Due: python-format, python-lint, secrets-check

📝 DOCS: Instagram scraper v3.5.1 fixes documented
  docs/development/SESSION_LOG.md
Due: none

🐛 FIX: Correct Hetzner deployment paths for all scraper endpoints
  backend/app/api/instagram/scraper.py
  backend/app/api/reddit/scraper.py
  backend/start.py
Due: python-format, python-lint, secrets-check

🐛 FIX: Update subprocess paths for Docker container
  backend/app/api/instagram/scraper.py
  backend/app/api/reddit/scraper.py
Due: python-format, python-lint, secrets-check

🐛 FIX: Correct subprocess paths to /app/backend for Docker
  backend/app/api/instagram/scraper.py
  backend/app/api/reddit/scraper.py
Due: python-format, python-lint, secrets-check

⚡ PERF: Non-blocking creator addition with 5-minute timeout
  dashboard/src/app/api/proxy/instagram/creator/add/route.ts
  dashboard/src/components/instagram/AddCreatorModal.tsx
  dashboard/src/lib/proxy-helper.ts
Due: typescript-check, eslint, console-check, secrets-check

✨ FEATURE: Instagram AI Tagging with Supabase Logging
  backend/migrations/add_instagram_tags_fields.sql
  backend/requirements.txt
  backend/scripts/INSTAGRAM_TAGGING_README.md
  backend/scripts/deploy_tagging.sh
  backend/scripts/tag_instagram_creators.py
Due: python-format, python-lint, secrets-check

🐛 FIX: Correct scraper subprocess paths to use absolute paths
  backend/app/api/instagram/scraper.py
  backend/app/api/reddit/scraper.py
Due: python-format, python-lint, secrets-check

✅ SETUP: Log deletion cron job fully configured
  backend/app/jobs/log_cleanup.py
Due: python-format, python-lint, secrets-check

✨ FEAT: Instagram standardization + Reddit post count fix
  backend/migrations/20251011_add_viral_posts_count_function.sql
  dashboard/src/app/instagram/creator-review/page.tsx
  dashboard/src/app/instagram/niching/page.tsx
  dashboard/src/hooks/queries/useViralPosts.ts
  dashboard/src/hooks/usePostAnalysis.ts
Due: typescript-check, eslint, console-check, secrets-check

🎨 DESIGN: Instagram monitor 2x2 layout + AI tagging logs
  dashboard/src/app/monitor/instagram/page.tsx
Due: typescript-check, eslint, console-check, secrets-check

📝 DOCS: Update for v3.12.5 Dashboard UX improvements
  CLAUDE.md
  ROADMAP.md
  docs/dashboard/pages/monitoring/instagram-monitor.md
  docs/dashboard/platforms/instagram.md
  docs/development/SESSION_LOG.md
Due: none

⚡ PERF: Non-blocking creator addition with detached subprocess
  backend/app/api/instagram/creators.py
  backend/app/api/instagram/process_creator_job.py
Due: python-format, python-lint, secrets-check

🐛 FIX: Remove unused variables in reels page
  dashboard/src/app/instagram/reels/page.tsx
  dashboard/src/components/instagram/StandardReelCard.tsx
Due: typescript-check, eslint, console-check, secrets-check

🐛 FIX: Run subprocess as module to fix import paths
  backend/app/api/instagram/creators.py
  backend/app/api/instagram/process_creator_job.py
Due: python-format, python-lint, secrets-check

🐛 FIX: Use os.getpid() instead of sys.getpid()
  backend/app/api/instagram/process_creator_job.py
Due: python-format, python-lint, secrets-check
